<style>
.list__item--chevron:before {
  content : none;
  }
</style>
<ons-page ng-controller="AddFriendsController">

  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
          <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false"></ons-icon>
        </td>
        <td class="flique-navigation-bar__center">
          Add Friends
        </td>
        <td class="flique-navigation-bar__right">
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">

      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
    </div>
  </div>
  <ons-list ng-show="hasRequests">
    <ons-list-header>Pending Requests</ons-list-header>
    <div ng-repeat="(char, group) in Friend.requestsSorted">
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in group" ng-show="(search.length < 1) || friend.searchFound">
        <div class="list-item-left">
          <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
        </div>
        <div class="list-item-right">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>
        <div ng-click="rejectRequest(friend.id)" class="list-right-button" style="right:56px;">
          <ons-icon icon="ion-close" fixed-width="false" size="18px"></ons-icon>
        </div>
        <div ng-click="confirmRequest(friend.id)" class="list-right-button">
          <ons-icon icon="ion-plus" fixed-width="false" size="20px"></ons-icon>
        </div>
      </ons-list-item>
    </div>
  </ons-list>

  <ons-list ng-show="hasRequestsSent">
    <ons-list-header>Sent Requests</ons-list-header>
    <div ng-repeat="(char, group) in Friend.requestsSentSorted">
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in Friend.requestsSentSorted[char]" ng-show="(search.length < 1) || friend.searchFound">
        <div class="list-item-left">
          <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
        </div>
        <div class="list-item-right">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>
        <div ng-click="cancelRequest(friend.id)" class="list-right-button">
          <ons-icon icon="ion-close" fixed-width="false" size="18px"></ons-icon>
        </div>
      </ons-list-item>
    </div>
  </ons-list>

  <ons-list ng-show="hasSuggestions">
    <ons-list-header>Suggestions</ons-list-header>
   <div ng-repeat="(char,group) in Friend.suggestionsSorted">
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in Friend.suggestionsSorted[char]" ng-show="(search.length < 1) || friend.searchFound">
        <div class="list-item-left">
          <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
        </div>
        <div class="list-item-right">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>
        <div class="list-right-button" ng-click="sendRequest(friend.id)">
          <ons-icon icon="ion-plus" fixed-width="false" size="20px"></ons-icon>
        </div>
      </ons-list-item>
    </div>
  </ons-list>

</ons-page>