<ons-page ng-controller="DeleteFriendsController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
          <span class="header-tappable">
            Cancel
          </span>
        </td>
        <td class="flique-navigation-bar__center">
          Remove Friends
        </td>
        <td class="flique-navigation-bar__right" ng-click="nextClicked()">
          <ons-icon class="header-tappable" icon="ion-trash-a" size="28px" fixed-width="false" ng-hide="Friend.selectedIds.length < 1"></ons-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <ons-include page="templates/friends/select.html"></ons-include>
</ons-page>