<style>
.action-col{
  border-left:1px solid #ddd;
}
</style>
<ons-page ng-controller="FriendsController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="menu.toggle()">
          <ons-icon class="header-tappable" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon></td>
        <td class="flique-navigation-bar__center">
          Friends
        </td>
        <td class="flique-navigation-bar__right" ng-click="deleteClicked()">
          <ons-icon class="header-tappable" icon="ion-compose" size="28px" fixed-width="false"></ons-icon></td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">
      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
    </div>
  </div>
  
  <ons-list>
    <ons-list-item modifier="tappable" class="list-item-container" ng-click="Navigation.goToPage('templates/friends/addFriends.html')">
        <span class="desc"><ons-icon icon="fa-user" fixed-width="false" size="13px"></ons-icon> Add Friends</span>
    </ons-list-item>
    <ons-list-item modifier="tappable" class="list-item-container" ng-click="//Navigation.goToPage('templates/friends/invite.html')">
        <span class="desc"><ons-icon icon="fa-plus" fixed-width="false" size="13px" style="opacity:0.2;"></ons-icon> Invite more friends</span>
    </ons-list-item>

  </ons-list>

    <ons-list ng-repeat="(char, group) in Friend.friendsSorted">
      <ons-list-header ng-show="search.length < 1">{{char}}</ons-list-header>
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in Friend.friendsSorted[char]" ng-show="(search.length < 1) || friend.searchFound" style="padding-top:0px; padding-bottom:0px;" ng-click="friendClicked(char,$index)">
        <div class="list-item-left" style="margin-top:15px; margin-bottom:15px;">
          <div class="avator avator-circle" style="background-image: url('{{friend.photos[0]}}');"></div>
        </div>
        <div class="list-item-right" style="margin-top:15px; margin-bottom:15px;">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
            <ons-icon ng-show="friend.muted==1" icon="ion-android-notifications-off" style="float:right;margin-right:20px;"></ons-icon>
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>

        <div style="right: {{openMenuStr == (char + '_' + $index) ? 0 : -300}}px;" class="list-item-menu">
          <ons-row class="action" style="height:100%;">

            <ons-col class="action-col">
              <div class="action-icon" style="margin-top:5px;"><ons-icon icon="ion-chatboxes"></ons-icon></div>
              <div class="action-label">Chat</div>
            </ons-col>

            <ons-col class="action-col">
              <div class="action-icon" style="margin-top:5px;"><ons-icon icon="ion-ios-telephone"></ons-icon></div>
              <div class="action-label">Call</div>
            </ons-col>

            <ons-col class="action-col" ng-click="muteClicked(char, $index)" id="mute_{{char}}_{{$index}}">
              <div class="action-icon" style="margin-top:5px;"><ons-icon icon="ion-android-notifications{{friend.muted==1 ? '-off' : ''}}"></ons-icon></div>
              <div class="action-label">{{friend.muted == 1 ? 'Unmute' : 'Mute'}}</div>
            </ons-col>
          </ons-row>
        </div>
        <div class="list-item-menu-toucharea" ng-swipe-left="swipeLeft(char,$index)" ng-hide="openMenuStr == char+'_'+$index"></div>
      </ons-list-item>

    </ons-list>
</ons-page>