<ons-page ng-controller="FriendProfileController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left" ng-click="menu.toggle()">
					<ons-icon class="header-tappable" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon></td>
				<td class="flique-navigation-bar__center">
					Friend Profile
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>

	<ons-include page="templates/misc/profile.html"></ons-include>
</ons-page>

