<style>
.action-col{
  border-left:1px solid #ddd;
}
.list__item--chevron:before {
  content : none;
  }
</style>
<div class="navigation-bar">
  <div class="navigation-bar__center">

    <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
  </div>
</div>
  <ons-list ng-repeat="(char, group) in Friend.friendsSorted">
    <ons-list-header ng-show="search.length < 1">{{char}}</ons-list-header>
    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in group" ng-show="(search.length < 1) || friend.searchFound" style="padding-top:0px; padding-bottom:0px;" ng-click="Friend.selectItemClicked(friend.user_id)">
      <div class="list-item-left" style="margin-top:15px; margin-bottom:15px;">
        <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
        <div ng-show="Friend.selectedIds.indexOf(friend.user_id) > -1" class="list-right-button" style="
          line-height: 28px;
          height: 28px;">
          <ons-icon icon="fa-check" fixed-width="false" size="13px"></ons-icon>
        </div>
      </div>
      <div class="list-item-right" style="margin-top:15px; margin-bottom:15px;">
        <div class="list-item-content">
          <div class="name">
          {{ucwords(friend.name)}}
            <span class="lucent"></span>
          </div>

          <span class="desc">{{friend.status}}</span>
        </div>
      </div>
    </ons-list-item>

  </ons-list>

