<ons-page ng-controller="LoginController">
  <div class="login-form">
    <ons-button modifier="large" class="login-button" ng-click="fbClicked()">Facebook</ons-button>
    <br><br>
    <input type="email" class="text-input--underbar" placeholder="Email" value="" ng-model="email">
    <input type="password" class="text-input--underbar" placeholder="Password" value="" ng-model="password">
    <br><br>
    <ons-button modifier="large" class="login-button" ng-click="loginClicked()">Log In</ons-button>
    <br><br>
    <ons-button modifier="quiet" class="forgot-password">Oops! I forgot my password</ons-button>
    <br><br>
    Don't have an account?<ons-button modifier="quiet" ng-click="signupClicked()">Sign up:)</ons-button>
  </div>
</ons-page>