<ons-page ng-controller="SignupController">
  <div class="login-form">
    <input type="email" class="text-input--underbar" placeholder="Email" value="" ng-model="email">
    <input type="password" class="text-input--underbar" placeholder="Password" value="" ng-model="password">
    <input type="password" class="text-input--underbar" placeholder="Confirm Password" value="" ng-model="password_confirm">
    <br><br>
    <ons-button modifier="large" class="login-button" ng-click="signupClicked()">Sign up</ons-button>
    <br><br>
    Already have an account?<ons-button modifier="quiet" ng-click="signinClicked()">Sign in</ons-button>.
  </div>
</ons-page>