
  <ons-popover direction="up down" cancelable>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="imageSelectCamera()">Take Photo</button>
      <button class="alert-dialog-button" ng-click="imageSelectGallery()">Gallery</button>
      <button class="alert-dialog-button" ng-click="imageSelectSearch()">Search Web</button>
      <button class="alert-dialog-button" ng-click="imageSelectClear()">Clear Avatar</button>
    </div>
  </ons-popover>