<div class="login-form">
	<table>
		<tr>
			<td>
				<select id="dateSelectedDay" ng-model="dateSelectedDay" ng-options="item as item.name for item in dateDays"></select>
			</td>
			<td>
				<select id="dateSelectedMonth" ng-model="dateSelectedMonth" ng-options="item as item.name for item in dateMonths"></select>
			</td>
			<td>
				<select id="dateSelectedYear" ng-model="dateSelectedYear" ng-options="item as item.name for item in dateYears"></select>
			</td>
		</tr>
	</table>
	<br><br>
	<ons-button modifier="large" class="login-button" ng-click="dateOkClicked()">Ok</ons-button>
</div>