<ons-page ng-controller="ImageGridController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left"></td>
        <td class="flique-navigation-bar__center">
          {{imageGridTitle}}
        </td>
        <td class="flique-navigation-bar__right"></td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

      <ons-list>
        <ons-list-item class="list-item-container" ng-repeat="row in imageGridData">
          <ons-row>
            <ons-col ng-repeat="image in row">
              <img src="{{image.src}}" class="thumbnail" ng-click="imageGridImageClicked()">
            </ons-col>
          </ons-row>
        </ons-list-item>

      </ons-list>
</ons-page>
