  <ons-page ng-controller="ImageSearchController">
  <style>
    .list__item, .list__item:first-child{
    border-bottom: none;
  }
  </style>
    <div class="flique-navigation-bar">
      <table>
        <tr>
          <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
            <span class="header-tappable">
              Cancel
            </span>
          </td>
          <td class="flique-navigation-bar__center">
            {{ImageSearch.title}}
          </td>
          <td class="flique-navigation-bar__right"></td>
        </tr>
      </table>
    </div>
    <div class="flique-navigation-bar__spacer"></div>

    <div class="navigation-bar">
      <div class="navigation-bar__center">
        <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
        <div class="search-input-icon-container">
          <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
        </div>
      </div>
    </div>

    <table width="100%" style="margin-top:10px;" ng-hide="searching">
      <tr ng-repeat="row in ImageSearch.sortedData">
        <td width="30%">
          <div 
            class="image-grid-thumbnail" 
            ng-click="imageClicked(row[0].medium)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[0].square}});">
          </div>
        </td>
        <td width="30%">
          <div ng-show="row.length > 1"
            class="image-grid-thumbnail" 
            ng-click="imageClicked(row[1].medium)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[1].square}});">
          </div>
        </td>
        <td width="30%">
          <div ng-show="row.length > 2"
            class="image-grid-thumbnail" 
            ng-click="imageClicked(row[2].medium)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[2].square}});">
          </div>
        </td>
      </tr>
    </table>

    <div class="settings-header" ng-show="searching">
      Searching...
    </div>
    <div class="settings-header" ng-show="ImageSearch.data < 1 && !searching">
      No results
    </div>
  </ons-page>
