<ons-template id="contents.html">
  <ons-page ng-controller="ImageDetailController">
    <div class="flique-navigation-bar">
      <table>
        <tr>
          <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
            <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false"></ons-icon></td>
          <td class="flique-navigation-bar__center">
            {{ImageDetail.title}}
          </td>
          <td class="flique-navigation-bar__right"></td>
        </tr>
      </table>
    </div>
    <div class="flique-navigation-bar__spacer"></div>
    <div style="width:100%;height:100%;background-image:url({{ImageDetail.data.file_location}});background-size:cover;background-color:#000;">
    </div>
  </ons-page>
</ons-template>
  <style>
    :checked + .tab-bar__button > .tab-bar__icon {
      color:#000;
    }
    :checked + .tab-bar__button {
    color: #000;
    }
  </style>

<ons-tabbar>

      <ons-tab page="contents.html" active="true" ng-show="ImageDetail.showSelectBar">
        <div class="tab" ng-click="Navigation.goBack()">
          <div class="tab-label">Cancel</div>
        </div>
      </ons-tab>

      <ons-tab page="contents.html" ng-show="ImageDetail.showSelectBar">
        <div class="tab" ng-click="ImageDetail.selectClicked()">
          <div class="tab-label">Select</div>
        </div>
      </ons-tab>

      <ons-tab page="contents.html" ng-show="ImageDetail.showOptionsBar && ( ! ImageDetail.hideDelete)">
        <div class="tab" ng-click="bottomBarDeleteClicked()" id="bottomBarDelete">
          <ons-icon icon="ion-android-delete" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

      <ons-tab page="contents.html" ng-show="ImageDetail.showOptionsBar">
        <div class="tab" ng-click="bottomBarShareClicked()" id="bottomBarShare">
          <ons-icon icon="ion-android-share-alt" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

      <ons-tab page="contents.html" ng-show="ImageDetail.showOptionsBar">
        <div class="tab" ng-click="bottomBarForwardClicked()" id="bottomBarForward">
          <ons-icon icon="ion-forward" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

      <ons-tab page="contents.html" ng-show="ImageDetail.showOptionsBar">
        <div class="tab" ng-click="bottomBarSetAsClicked()" id="bottomBarSetAs">
          <ons-icon icon="ion-android-image" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

</ons-tabbar>