
    <style>
      :checked + .tab-bar__button > .tab-bar__icon {
        color:#000;
      }
      :checked + .tab-bar__button {
      color: #000;
      }
    </style>
    <ons-tabbar hide-tabs="{{!showBottomBar}}">

      <ons-tab page="contents.html" active="true">
        <div class="tab" ng-click="bottomBarDeleteClicked()" id="bottomBarDelete">
          <ons-icon icon="ion-android-delete" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

      <ons-tab>
        <div class="tab" ng-click="bottomBarShareClicked()" id="bottomBarShare">
          <ons-icon icon="ion-android-share-alt" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>

      <ons-tab>
        <div class="tab" ng-click="bottomBarForwardClicked()" id="bottomBarForward">
          <ons-icon icon="ion-forward" class="tab-icon"></ons-icon>
        </div>
      </ons-tab>
    </ons-tabbar>
<ons-template id="contents.html">

  <ons-page ng-controller="MediaLibraryController">

    <div class="flique-navigation-bar">
      <table>
        <tr>
          <td class="flique-navigation-bar__left">
            <ons-icon class="header-tappable" ng-hide="selectMode" icon="ion-chevron-left" size="28px" fixed-width="false" ng-click="Navigation.goBack()"></ons-icon>
            <span class="header-tappable" ng-show="selectMode" ng-click="selectCancelClicked()">Cancel</span>
          </td>
          <td class="flique-navigation-bar__center" style="line-height:14px;">
            {{MediaLibrary.title}}<br/><small style="position:relative;top:5px;font-size:12px;">{{MediaLibrary.data.length}} photo{{MediaLibrary.data.length == 1 ? '' : 's'}}</small>
          </td>
          <td class="flique-navigation-bar__right">
              <span class="header-tappable" ng-hide="selectMode" ng-click="selectClicked()">Select</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="flique-navigation-bar__spacer"></div>

    <div ng-repeat="month in MediaLibrary.sortedData">
      <ons-list class="heading-list" modifier="inset">
        <ons-list-item>{{month.date}} <small style="margin-left:10px;">{{month.count}} photo{{month.count == 1 ? '' : 's'}}</small></ons-list-item>
      </ons-list>
      <ons-list modifier="inset" class="settings-list">
        <ons-list-item>
        <table width="100%" style="margin-top:10px;">
          <tr ng-repeat="row in month.data">
            <td width="30%">
              <div 
                class="image-grid-thumbnail" 
                ng-click="imageClicked(row[0].exchange_id)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[0].file_location}});">
                <ons-icon class="media-library-check" icon="ion-checkmark-circled" size="33px" fixed-width="false" style="top:{{imageSize-31}}px;" ng-show="row[0].selected"></ons-icon>
              </div>
            </td>
            <td width="30%">
              <div ng-show="row.length > 1" 
                class="image-grid-thumbnail" 
                ng-click="imageClicked(row[1].exchange_id)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[1].file_location}});">
                <ons-icon class="media-library-check" icon="ion-checkmark-circled" size="33px" fixed-width="false" style="top:{{imageSize-31}}px;" ng-show="row[1].selected"></ons-icon>
              </div>
            </td>
            <td width="30%">
              <div ng-show="row.length > 2"
                class="image-grid-thumbnail" 
                ng-click="imageClicked(row[2].exchange_id)" style="width:{{imageSize}}px;height:{{imageSize}}px;background-image:url({{row[2].file_location}});">
                <ons-icon class="media-library-check" icon="ion-checkmark-circled" size="33px" fixed-width="false" style="top:{{imageSize-31}}px;" ng-show="row[2].selected"></ons-icon>
              </div>
            </td>
          </tr>
        </table>
        </ons-list-item>
      </ons-list>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>


  </ons-page>
</ons-template>