
  <ons-popover direction="up down" cancelable>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="mute(1)">Mute for 1 day</button>
      <button class="alert-dialog-button" ng-click="mute(7)">Mute for 1 week</button>
      <button class="alert-dialog-button" ng-click="mute(30)">Mute for 1 month</button>
      <button class="alert-dialog-button" ng-click="mute(null)">Mute indefinitely</button>
    </div>
  </ons-popover>