<ons-page ng-controller="PhoneNumberCountryController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left"></td>
				<td class="flique-navigation-bar__center">
					Set Country
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
    <ons-include page="templates/misc/locationSelector.html"></ons-include>
</ons-page>