  <ons-popover direction="up down" cancelable>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="shareFacebook()">Share on Facebook</button>
      <button class="alert-dialog-button" ng-click="shareTwitter()">Share on Twitter</button>
    </div>
  </ons-popover>