
  <ons-popover direction="up down" cancelable>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="forwardFlique()">Forward on Flique</button>
      <button class="alert-dialog-button" ng-click="forwardEmail()">Forward on Email</button>
    </div>
  </ons-popover>