  <ons-page ng-controller="ImageUploadController">
    <div class="flique-navigation-bar">
      <table>
        <tr>
          <td class="flique-navigation-bar__left"></td>
          <td class="flique-navigation-bar__center">
            {{imageUploadTitle}}
          </td>
          <td class="flique-navigation-bar__right"></td>
        </tr>
      </table>
    </div>
    <div class="flique-navigation-bar__spacer"></div>
    
    <div style="width:100%;height:250px;background-image:url({{imageURI}});background-size:cover;background-color:#000;">
    </div>
    <div class="login-form">
      <span ng-show="ImageUpload.uploading">
      Uploading image...
      </span>
    </div>
    <ons-tabbar>

      <ons-tab ng-click="choose()" ng-hide="ImageUpload.uploading">
        <ons-icon icon="ion-ios-albums" class="tab-icon">
        </ons-icon><span class="tab-label"> Choose again</span>
      </ons-tab>

      <ons-tab ng-click="use()" ng-hide="ImageUpload.uploading||(!imageURI)">
        <ons-icon icon="ion-checkmark" class="tab-icon">
        </ons-icon><span class="tab-label"> Use this image</span>
      </ons-tab>

      <ons-tab ng-click="cancel()" ng-show="ImageUpload.uploading">
        <ons-icon icon="ion-close" class="tab-icon">
        </ons-icon><span class="tab-label"> Cancel</span>
      </ons-tab>

    </ons-tabbar>
  </ons-page>
