<div class="navigation-bar">
  <div class="navigation-bar__center">
    <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="locationSearchText.name">
	  <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
  </div>
</div>
<ons-list>
    <ons-list-item ng-repeat="location in locations | filter:locationSearchText:strict" modifier="chevron" ng-click="locationClicked(location)">{{location.name}}</ons-list-item>
</ons-list>