<ons-page ng-controller="PhoneVerificationController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left"></td>
        <td class="flique-navigation-bar__center">
          Phone Verification
        </td>
        <td class="flique-navigation-bar__right"></td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>
  <div class="login-form">
    Hey There! Just one more step. We have sent you a code via sms. Please enter it below.
    <br><br>
    <input type="text" class="text-input--underbar" placeholder="Enter the code here" value="" ng-model="code">
    <br><br>
    <ons-button modifier="large" class="login-button" ng-click="phoneVerificationConfirmClicked()">Confirm</ons-button>
    <br><br>
    Didn't receive the code? Request to<ons-button modifier="quiet" ng-click="phoneVerificationResendClicked()">resend</ons-button>.
  </div>
</ons-page>
