  <ons-page ng-controller="PhoneNumberController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
          <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false"></ons-icon>
        </td>
        <td class="flique-navigation-bar__center">
          Phone Number
        </td>
        <td class="flique-navigation-bar__right"></td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>
    <div class="login-form">
      Your phone number will be used to create your Friend List. Please enter your phone number.
      <br><br>
      <table style="width:100%">
        <tr ng-click="phoneNumberCountryCodeClicked()">
          <td>
            <input type="countryCode" class="text-input--underbar" placeholder="Select your country" ng-model="phoneNumberCountryCodeText" style="width:100%" disabled>
          </td>
          <td>
            <ons-icon icon="fa-chevron-right" fixed-width="false" style="opacity:0.3"></ons-icon>
          </td>
        </tr>
      </table>
      <br><br>
      <input type="text" class="text-input--underbar" placeholder="Phone Number" ng-model="phoneNumber">
      <br><br>
      <ons-button modifier="large" class="login-button" ng-click="phoneNumberOkClicked()">Ok</ons-button>
    </div>
  </ons-page>
