<div class="profile-card" id="profile-background" style="background-image : url({{coverImage}}); background-size:cover; overflow:hidden;" ng-click="profileBgClicked()">
  <div class="cover-image-overlay"></div>
    <div class="profile-image" id="profile-image" ng-click="profileImageClicked()" style="background-image : url({{profileImage}}); margin:0px auto; background-size:cover"></div>
    <div class="profile-name" style="
    margin-bottom:10px;"><strong>{{ucwords(profileDisplayUsernameStr)}}</strong><ons-icon ng-show="friendship.muted==1" icon="ion-android-notifications-off" style="
    font-size: 1em;
    margin-left: 7px;
    top: -2px;
    position: relative;
  "></ons-icon></div>
    <div class="profile-desc">{{profileDisplayStatusStr}}</div>
  </div>
    <span class="profile-name" style="position: absolute;top: 51px;right: 20px;font-size: 12px; color:#fff; text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;" ng-show="profileBirthdayStr"><span style="color:#EB5050"><ons-icon icon="fa-calendar"></ons-icon></span> {{profileBirthdayStr}}</span>

  <div ng-show="profileShowActions">
    <ons-list style="border-top: none"><ons-list-item style="line-height: 1; padding: 0;">
      <ons-row class="action">

        <ons-col class="action-col action-col-first" ng-click="chatClicked()">
          <div class="action-icon"><ons-icon icon="ion-chatboxes"></ons-icon></div>
          <div class="action-label">Chat</div>
        </ons-col>

        <ons-col class="action-col">
          <div class="action-icon"><ons-icon icon="ion-ios-telephone"></ons-icon></div>
          <div class="action-label">Call</div>
        </ons-col>

        <ons-col class="action-col" ng-hide="friendship.muted == 1" id="muteButton" ng-click="muteClicked()">
          <div class="action-icon"><ons-icon icon="ion-android-notifications"></ons-icon></div>
          <div class="action-label">Mute</div>
        </ons-col>
        <ons-col class="action-col" ng-show="friendship.muted == 1" ng-click="unmuteClicked()">
          <div class="action-icon"><ons-icon icon="ion-android-notifications-off"></ons-icon></div>
          <div class="action-label">Unmute</div>
        </ons-col>
      </ons-row>
    </ons-list-item></ons-list>
  </div>

  <ons-list class="heading-list" modifier="inset" ng-show="profileShowEdit">
    <ons-list-item><ons-icon icon="ion-calendar" style="margin-right:10px;"></ons-icon>Basic Info</ons-list-item>
  </ons-list>

  <ons-list modifier="inset" ng-show="profileShowEdit">


    <ons-list-item class="list-item-single-line">
        <input type="text" class="text-input text-input--transparent" placeholder="Name" style="font-size:17px;background:transparent;padding-left:0px;border:none; width: 100%" ng-model="User.editData.name" maxlength="50"/>
    </ons-list-item>

    <ons-list-item ng-click="profileDobClicked()">
      {{profileDobStr ? profileDobStr : 'Enter date of birth here'}}
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="profileCountryClicked()">
      {{profileCountryStr ? profileCountryStr : 'Enter country here'}}
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="profilePhoneClicked()">
      {{User.editData.phoneNumber ? ('(+' + User.editData.phoneNumberCountry.code + ') ' + User.editData.phoneNumber) : 'Enter phone number here'}}
    </ons-list-item>

    <ons-list-item modifier="chevron" ng-click="profileStatusClicked()">
      {{profileStatusStr ? profileStatusStr : 'Enter status here'}}
    </ons-list-item>
  </ons-list>

  <div ng-show="profileShowMutual && Friend.currMutualFriends.length > 0">

    <ons-list class="heading-list" modifier="inset">
      <ons-list-item><ons-icon icon="ion-person-stalker" style="margin-right:10px;"></ons-icon>Friends</ons-list-item>
    </ons-list>

    <ons-list modifier="inset" class="settings-list" ng-click="Navigation.goToPage('templates/friends/mutual.html')">
      <ons-list-item modifier="chevron">
      Mutual Friends 
      <span class="list-item-note">
        <span class="notification">{{Friend.currMutualFriends.length}}</span>
      </span>
      </ons-list-item>
    </ons-list>
  </div>

  <div ng-show="profileShowLocation">

    <ons-list class="heading-list" modifier="inset">
      <ons-list-item><ons-icon icon="ion-location" style="margin-right:10px;"></ons-icon>Location</ons-list-item>
    </ons-list>

    <ons-list modifier="inset" class="settings-list">
      <ons-list-item>
      {{profileCountryStr}}
      </ons-list-item>
    </ons-list>
  </div>

  <div ng-show="profileShowContact">

    <ons-list class="heading-list" modifier="inset">
      <ons-list-item><ons-icon icon="ion-ios-telephone" style="margin-right:10px;"></ons-icon>Contact</ons-list-item>
    </ons-list>

    <ons-list modifier="inset" class="settings-list">
      <ons-list-item>
      {{profilePhoneStr}} 
      </ons-list-item>
    </ons-list>
  </div>

  <div ng-show="profileShowChat">

    <ons-list class="heading-list" modifier="inset">
      <ons-list-item><ons-icon icon="ion-chatbox" style="margin-right:10px;"></ons-icon>Chat</ons-list-item>
    </ons-list>

    <ons-list modifier="inset" class="settings-list">
      <ons-list-item modifier="chevron" ng-click="groupChatClicked()">
      Group chats I created
        <span class="list-item-note">
          <span class="notification">{{(groupChatsCreatedCount < 1000 ? groupChatsCreatedCount : '999+')}}</span>
        </span>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="mediaSentClicked()">
      Media sent by me
        <span class="list-item-note">
          <span class="notification">{{(mediaSentCount < 1000 ? mediaSentCount : '999+')}}</span>
        </span>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="mediaReceivedClicked()">
      Media I received
        <span class="list-item-note">
          <span class="notification">{{(mediaReceivedCount < 1000 ? mediaReceivedCount : '999+')}}</span>
        </span>
      </ons-list-item>
    </ons-list>
  </div>

  <div ng-show="profileShowFriendChat">

    <ons-list class="heading-list" modifier="inset">
      <ons-list-item><ons-icon icon="ion-chatbox" style="margin-right:10px;"></ons-icon>Chat</ons-list-item>
    </ons-list>

    <ons-list modifier="inset" class="settings-list">
      <ons-list-item modifier="chevron" ng-click="groupChatClicked()">
      Mutual group chats
        <span class="list-item-note">
          <span class="notification">{{mutualGroupChatsCount}}</span>
        </span>
      </ons-list-item>
      <ons-list-item modifier="chevron" ng-click="mediaExchangedClicked()">
      Media exchanged
        <span class="list-item-note">
          <span class="notification">{{mediaExchangedCount}}</span>
        </span>
      </ons-list-item>
    </ons-list>
  </div>

  <br>
  <ons-list modifier="inset" ng-show="profileShowEdit">
    <ons-button ng-show="User.profileCreateMode" modifier="large" class="login-button" ng-click="profileCancelClicked()">Create</ons-button>
    <ons-row>
      <ons-col class="button-container-left">
        <button ng-hide="User.profileCreateMode" modifier="large" class="button--cta button-left button-black" ng-click="profileCancelClicked()">Cancel</button>
      </ons-col>
      <ons-col class="button-container-right">
        <button ng-hide="User.profileCreateMode" modifier="large" class="button--cta button-right button-red" ng-click="profileUpdateClicked()">Update</button>
      </ons-col>
    </ons-row>
    <br><br>
  </ons-list>