
  <ons-popover direction="up down" cancelable>
    <div class="alert-dialog-footer">
      <button class="alert-dialog-button" ng-click="setAsProfileImage()">Set as Profile Image</button>
      <button class="alert-dialog-button" ng-click="setAsBackgroundImage()">Set as Background Image</button>
    </div>
  </ons-popover>