<ons-page ng-controller="ProfileCountryController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
					<span class="header-tappable">
						Cancel
					</span>
				</td>
				<td class="flique-navigation-bar__center">
					Country
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
    <ons-include page="templates/misc/locationSelector.html"></ons-include>
</ons-page>