<ons-page ng-controller="ProfileController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left" ng-click="menu.toggle()">
					<ons-icon class="header-tappable" icon="ion-navicon" size="28px" fixed-width="false"></ons-icon></td>
				<td class="flique-navigation-bar__center">
					Profile
				</td>
				<td class="flique-navigation-bar__right" ng-click="editClicked()">
					<ons-icon class="header-tappable" icon="ion-compose" size="28px" fixed-width="false"></ons-icon></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
	<ons-include page="templates/misc/profile.html"></ons-include>
</ons-page>

