<style>
.action-col{
  border-left:1px solid #ddd;
}
.list__item--chevron:before {
  content : none;
  }
</style>
<ons-page ng-controller="ForwardController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
          <span class="header-tappable">
            Cancel
          </span>
        </td>
        <td class="flique-navigation-bar__center">
          Forward on Flique
        </td>
        <td class="flique-navigation-bar__right" ng-click="forwardClicked()">
          <ons-icon class="header-tappable" icon="ion-forward" size="28px" fixed-width="false"></ons-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">
      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
    </div>
  </div>

    <ons-list ng-repeat="(char, group) in Friend.friendsSorted">
      <ons-list-header ng-show="search.length < 1">{{char}}</ons-list-header>
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in Friend.friendsSorted[char]" ng-show="(search.length < 1) || friend.searchFound" style="padding-top:0px; padding-bottom:0px;" ng-click="friendClicked(char, $index)">
        <div class="list-item-left" style="margin-top:15px; margin-bottom:15px;">
          <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
          <div ng-show="selectedFriends[char][$index]" style="
            position: absolute;
            right: 16px;
            top: 50%;
            line-height: 28px;
            height: 28px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);">
            <ons-icon icon="fa-check" fixed-width="false" size="13px"></ons-icon>
          </div>
        </div>
        <div class="list-item-right" style="margin-top:15px; margin-bottom:15px;">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>
      </ons-list-item>

    </ons-list>
</ons-page>