<style>
.list__item--chevron:before {
  content : none;
  }
</style>
<ons-page ng-controller="InviteController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goToPage('templates/friends/friends.html')">
          <span class="header-tappable">
            Cancel
          </span>
        </td>
        <td class="flique-navigation-bar__center">
          Select Friends
        </td>
        <td class="flique-navigation-bar__right" ng-click="Navigation.goToPage('templates/friends/invite2.html')">
          <span class="header-tappable">
            Next
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">

      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
    </div>
  </div>
    <ons-list-item modifier="tappable" class="list-item-container" ng-click="allClicked()">
        <span class="desc">{{allSelected ? 'Deselect all' : 'Select all'}}</span>
    </ons-list-item>
  <ons-list>

  </ons-list>

  <ons-list ng-repeat="char in Friend.chars">
    <ons-list-header ng-show="search.length < 1">{{char}}</ons-list-header>
    <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="contact in Friend.contactsSorted[char]" ng-show="(search.length < 1) || contact.searchFound" ng-click="contactClicked(char, $index)">
      <div class="list-item-left">
      </div>
      <div class="list-item-right">
        <div class="list-item-content">
          <div class="name">
          {{ucwords(contact.name)}}
            <span class="lucent"></span>
          </div>

          <span class="desc">{{contact.phone}}</span>
        </div>
      </div>
      <div ng-show="contact.selected" style="
        position: absolute;
        right: 16px;
        top: 50%;
        line-height: 28px;
        height: 28px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);">
        <ons-icon icon="fa-check" fixed-width="false" size="13px"></ons-icon>
      </div>
    </ons-list-item>

  </ons-list>

</ons-page>