<style>
.list__item--chevron:before {
  content : none;
  }
</style>
<ons-page ng-controller="MutualController">

  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goToPage('templates/friends/friendProfile.html')">
          <span class="header-tappable">
            Back
          </span>
        </td>
        <td class="flique-navigation-bar__center">
          Mutual Friends
        </td>
        <td class="flique-navigation-bar__right">
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">

      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">

    </div>
  </div>

  <ons-list>
    <ons-list-header>{{Friend.currMutualFriends.length}} Friend{{Friend.currMutualFriends.length == 1 ? '' : 's'}}</ons-list-header>
    <div ng-repeat="char in Friend.chars">
      <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="friend in Friend.currMutualFriendsSorted[char]" ng-show="(search.length < 1) || friend.searchFound">
        <div class="list-item-left" style="margin-top:15px; margin-bottom:15px;">
          <div class="avator avator-circle" style="background-image: url('{{friend.photos[0]}}');"></div>
        </div>
        <div class="list-item-right" style="margin-top:15px; margin-bottom:15px;">
          <div class="list-item-content">
            <div class="name">
            {{ucwords(friend.name)}}
              <span class="lucent"></span>
            </div>

            <span class="desc">{{friend.status}}</span>
          </div>
        </div>
      </ons-list-item>
    </div>
  </ons-list>
</ons-page>