<ons-page ng-controller="EmailVerificationController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left"></td>
        <td class="flique-navigation-bar__center">
          Email Verification
        </td>
        <td class="flique-navigation-bar__right"></td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>
  <div class="login-form">
    Hey There! We will be using your email account to keep your friend list safe.
    <br><br>
    We have sent you a code via email. Please enter the code to verify your email. 
    <br><br>
    <input type="text" class="text-input--underbar" placeholder="Enter the code here" value="" ng-model="code">
    <br><br>
    <ons-button modifier="large" class="login-button" ng-click="confirmClicked()">Confirm</ons-button>
    <br><br>
    Didn't receive the email? Request to<ons-button modifier="quiet" ng-click="resendClicked()">resend</ons-button>.
  </div>
</ons-page>