<ons-page ng-controller="ChatListController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left">
          <span class="header-tappable" ng-click="deleteMode = false; deleteIds = [];" ng-show="deleteMode">Cancel</span>
          <ons-icon class="header-tappable" icon="ion-navicon" size="28px" fixed-width="false" ng-click="menu.toggle()" ng-hide="deleteMode || Chat.loadUserCreatedChats"></ons-icon>
          <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false" ng-click="Navigation.goBack()" ng-show="Chat.loadUserCreatedChats && !deleteMode"></ons-icon>
        </td>
        <td class="flique-navigation-bar__center">
          {{deleteMode ? 'Delete Chats' : (Chat.loadUserCreatedChats ? 'Group Chats I Created' : 'Chats')}}
        </td>
        <td class="flique-navigation-bar__right">
          <ons-icon class="header-tappable" icon="ion-trash-a" size="28px" fixed-width="false" ng-click="deleteClicked()" ng-show="deleteMode && deleteIds.length > 0"></ons-icon>
          <ons-icon class="header-tappable" icon="ion-compose" size="28px" fixed-width="false" ng-click="deleteMode = true;" ng-hide="deleteMode"></ons-icon>
          <ons-icon class="header-tappable" icon="ion-plus" size="28px" fixed-width="false"  ng-click="newClicked()" ng-hide="deleteMode" style="margin-left:-10px;"></ons-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <div class="navigation-bar" style="margin-top:10px;" ng-hide="Chat.loadUserCreatedChats">
    <ons-list modifier="inset">
        <ons-row>
        <ons-col class="button-container-left">
          <button modifier="large" class="button--cta button-left button-{{Chat.groupsSelected ? 'black' : 'red'}}" ng-click="setGroupsSelected(false)">
            <div class="button-badge" style="margin-right:10px;">{{Chat.friendChatsCount}}</div>
            Friends
            <ons-icon icon="ion-person-stalker" style="margin-left:10px;"></ons-icon>
          </button>
        </ons-col>
        <ons-col class="button-container-right">
          <button modifier="large" class="button--cta button-right button-{{Chat.groupsSelected ? 'red' : 'black'}}" ng-click="setGroupsSelected(true)">
            <div class="button-badge" style="margin-right:10px;">{{Chat.groupChatsCount}}</div>
            Groups
            <ons-icon icon="ion-ios-people" style="margin-left:10px;"></ons-icon>
          </button>
        </ons-col>
      </ons-row>
    </ons-list>
  </div>

  <div class="navigation-bar">
    <div class="navigation-bar__center">
      <input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model="search">
      <div class="search-input-icon-container">
        <div class="search-input-icon"><ons-icon icon="ion-search" size="17px"></ons-icon></div>
      </div>
    </div>
  </div>
  
    <ons-list>
      <ons-list-item modifier="chevron" class="list-item-container list-item-container-no-chevron" ng-repeat="chat in Chat.chats" ng-show="((search.length < 1) || chat.searchFound) && ((chat.two_way_user_id && !Chat.groupsSelected) || (!chat.two_way_user_id && Chat.groupsSelected))" style="padding-top:0px; padding-bottom:0px;" ng-click="deleteSelect(chat.id);chatClicked($index);">
        <div class="list-right-button" style='
  color: #ddd;
  line-height: 28px;
  height: 28px;' ng-show="!deleteMode"><ons-icon icon="fa-chevron-right"></ons-icon></div>
        <div class="list-item-left" style="margin-top:15px; margin-bottom:15px;">
          <div class="avator avator-circle" style="background-image:url('{{chat.image}}');"></div>
          <div ng-show="deleteIds.indexOf(chat.id) > -1" class="list-right-button" style="
            line-height: 28px;
            height: 28px;">
            <ons-icon icon="fa-check" fixed-width="false" size="13px"></ons-icon>
          </div>

        </div>
        <div class="list-item-right" style="margin-top:15px; margin-bottom:15px;">
          <div class="list-item-content">
            <div class="name">
            <strong>{{chat.title}}</strong>
            <ons-icon ng-show="chat.muted==1" icon="ion-android-notifications-off" style="float:right;margin-right:20px;"></ons-icon>
              <span class="lucent"></span>
            </div>

            <span class="desc">{{chat.desc}}<span class="notification" ng-show="FliqueNotification.data.chats[chat.id] && FliqueNotification.data.chats[chat.id].length > 0" style="float: right;position: relative;right: 10px;top: -7px;">{{FliqueNotification.data.chats[chat.id].length}}</span></span>

          </div>
        </div>

        <div style="right: {{openMenuStr == $index ? 0 : -300}}px;" class="list-item-menu">
          <ons-row class="action" style="height:100%;">

            <ons-col class="action-col" ng-click="muteClicked($index)" id="mute_{{$index}}">
              <div class="action-icon" style="margin-top:5px;"><ons-icon icon="ion-android-notifications{{chat.muted==1 ? '-off' : ''}}"></ons-icon></div>
              <div class="action-label">{{chat.muted == 1 ? 'Unmute' : 'Mute'}}</div>
            </ons-col>

            <ons-col class="action-col">
              <div class="action-icon" style="margin-top:5px;"><ons-icon icon="ion-chatboxes"></ons-icon></div>
              <div class="action-label">Chat</div>
            </ons-col>

          </ons-row>
        </div>

        <div class="list-item-menu-toucharea" ng-swipe-left="swipeLeft($index)" ng-hide="openMenuStr==$index"></div>
      </ons-list-item>

    </ons-list>
</ons-page>