<style>
:checked + .tab-bar__button > .tab-bar__icon {
  color:#999;
}
:checked + .tab-bar__button {
color: #999;
}
.chat_message{
  font-size:12px;
}
.chat_box ons-list-item{
  color:white;
  border:none;
}
.chat_box{
  margin-top: 10px;
  width: 260px;
  display:block;
  padding: 0px 20px;
}
.chat_box_other{
  background-color: #eb5050;
}
.chat_message{
  margin-bottom: -2px;
}
.chat_box_other .chat_message{
  background-color : #eb5050;
}
.chat_box_other .avator-circle{
  z-index : 1000;
  position: relative;
  float: left;
  left: -40px;
  margin-right: -40px;
}
.chat_box_self{
  background-color: #404040;
}
.chat_box_self .chat_message{
  background-color : #404040;
}
.chat_box_self .avator-circle{
  z-index : 1000;
  border-color : #404040;
  position: relative;
  float: right;
  right: -40px;
}
.list__item:first-child {
  border-top: none;
  border-bottom: none;
}
.message-image{
  width:100px;
  height:100px;
}
.message-image:active{
  opacity:0.5;
}
</style>

<ons-page ng-controller="ChatController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left">
          <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false" ng-click="Navigation.goBack()" ng-hide="selectMode"></ons-icon>
        </td>
        <td class="flique-navigation-bar__center">
          {{Chat.two_way_user_id ? ucwords(Chat.title) : Chat.title}}
        </td>
        <td class="flique-navigation-bar__right">
          <ons-icon class="header-tappable" icon="ion-compose" size="28px" fixed-width="false" ng-click="edit()" ng-hide="Chat.data.two_way_user_id"></ons-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <ons-list modifier="inset" ng-repeat="group in Chat.messages" class="chat_box chat_box_{{group.type=='self' ? 'self' : 'other'}}" style="margin-left:{{chat_box_margin_left}}px;">
    <div class="avator avator-circle" style="background-image: url('{{group.profile_image}}');"></div>
    <ons-list-item class="chat_message">
    <strong>{{ucwords(group.name)}}</strong>
    <span style="float:right; font-size:10px;">12:43pm</span>
    </ons-list-item style="border-top: none;border-bottom: none;">
    <ons-list-item class="chat_message" ng-repeat="message in group.messages">
      <span ng-show="message.file">
        <div class="message-image" style="background:url('{{message.file.file_location}}');background-size:cover" ng-click="messageFileClicked(message.file)"></div>
        <div style="height:10px;"></div>
      </span>
      <span ng-hide="message.file">
        {{message.text}}
      </span>
    </ons-list-item>
  </ons-list>

  <p id="bottom"></p>
  <br/><br/>
  <br/>
  <div style="position:fixed;bottom:0px;z-index:10000;background-color:#fff;width:100%;padding:5px;border-top:1px solid #e6e7e8;">
    <table style="width:100%">
      <tr>
        <td>
          <textarea id="chatText" style="border-color:#9e9e9e;width:100%;"/>
        </td>
        <td style="width:30px;padding-left:15px;" ng-click="sendClicked()">
          <ons-icon icon="ion-email" class="tab-icon footer-tappable" style="margin-right: 10px;margin-left: -5px;"></ons-icon>
        </td>
      </tr>
    </table>
  </div>
</ons-page>

