<ons-page ng-controller="ChatEditController">
  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left">
          <ons-icon class="header-tappable" icon="ion-chevron-left" size="28px" fixed-width="false" ng-click="Navigation.goBack();" ng-hide="selectMode"></ons-icon>
        </td>
        <td class="flique-navigation-bar__center">
          Group Profile
        </td>
        <td class="flique-navigation-bar__right" ng-click="editClicked()">
          <span class="header-tappable">
            Save
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <ons-include page="templates/chat/groupProfile.html"></ons-include>
</ons-page>

