<ons-page ng-controller="ChatGroupFriendSelectController">

  <div class="flique-navigation-bar">
    <table>
      <tr>
        <td class="flique-navigation-bar__left" ng-click="Navigation.goBack()">
          <span class="header-tappable">
            Cancel
          </span>
        </td>
        <td class="flique-navigation-bar__center">
          Select Friends
        </td>
        <td class="flique-navigation-bar__right">
          <span class="header-tappable" ng-click="nextClicked()" ng-hide="Friend.selectedIds.length < 1">Next</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="flique-navigation-bar__spacer"></div>

  <ons-include page="templates/friends/select.html"></ons-include>
</ons-page>