<div class="profile-card"  id="profile-background" style="background-image : url({{Chat.editData.image}}); background-size:cover; overflow:hidden; height:200px;" ng-click="imageClicked()">
	    <div class="profile-name" id="profile-name" style="position: relative;top: 50px;"><span ng-hide="Chat.editData.image"><ons-icon icon="ion-plus-round"></ons-icon> Add Image</span></div>
	  </div>

	  <ons-list class="heading-list" modifier="inset">
	    <ons-list-item>
	    	<ons-icon icon="ion-ios-people" style="margin-right:10px;"></ons-icon>
	    	Group Settings
		</ons-list-item>
	  </ons-list>

	  <ons-list modifier="inset" class="settings-list">
		<ons-list-item class="list-item-single-line">
	        <input type="text" class="text-input text-input--transparent" placeholder="Group Name" style="font-size:17px;background:transparent;padding-left:0px;border:none; width: 100%;" ng-model="Chat.editData.title" maxlength="50"/>
	    </ons-list-item>
	    <ons-list-item ng-show="editMode" class="list-item-single-line">
	      Mute this chat
	      <ons-switch modifier="list-item" ng-model="Chat.editData.muted" checked></ons-switch>
	    </ons-list-item>
	    <ons-list-item class="list-item-single-line">
	      Permit members to add friends
	      <ons-switch modifier="list-item" ng-model="Chat.editData.allowAdd" checked></ons-switch>
	    </ons-list-item>
	  </ons-list>
	  <br/>


	  <ons-list class="heading-list" modifier="inset">
	    <ons-list-item>
	    	<ons-icon icon="ion-person-stalker" style="margin-right:10px;"></ons-icon>
	    	<span ng-show="createMode">{{Chat.editData.userIds.length}} friend{{Chat.editData.userIds.length == 1 ? '' : 's'}}</span> 
	    	<span ng-show="editMode">{{Chat.editData.userIds.length}} members</span>
		    <ons-icon icon="ion-person-add" style="margin-right: -20px;float: right;" ng-click="Navigation.goToPage('templates/chat/friendSelect.html')"></ons-icon>
		</ons-list-item>
	  </ons-list>

    <ons-list modifier="inset" class="settings-list">
    	<ons-list-item class="to-wrapper" ng-show="editMode">
	      <ons-row>
	        <ons-col width="52px">
	          <div class="avator avator-circle" style="background-image:url('{{User.profileImage}}');"></div>
	        </ons-col>
	        <ons-col>
	          <div class="to-name">{{User.name}}</div>
	          <div class="to-email">{{User.status}}</div>
	        </ons-col>
	      </ons-row>
	  </ons-list-item>
      <ons-list-item class="to-wrapper" ng-repeat="friend in Chat.editData.users" ng-hide="editMode && User.id == friend.user_id">
	      <ons-row>
	        <ons-col width="52px">
	          <div class="avator avator-circle" style="background-image:url('{{friend.photos[0]}}');"></div>
	        </ons-col>
	        <ons-col>
	          <div class="to-name">{{friend.name}}</div>
	          <div class="to-email">{{friend.profile_status ? friend.profile_status : friend.status}}</div>
	        </ons-col>
	      </ons-row>
	        <div ng-click="removeFriend(friend.user_id)" class="list-right-button" style="color:#eb5050;">
	          <ons-icon icon="ion-close" fixed-width="false" size="18px"></ons-icon>
	        </div>
      </ons-list-item>
    </ons-list>
	  <ons-list modifier="inset" ng-show="editMode">
	    <br/>
	    <br/>
	    <ons-row>
	      <ons-col>
	        <button modifier="large" class="button--cta button-right button-black" ng-click="exitClicked()">Exit Group</button>
	      </ons-col>
	    </ons-row>
		<br/>
	</ons-list>