  <ons-page ng-controller="ProfileDobEditController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left"></td>
				<td width="46%" class="flique-navigation-bar__center">
					Date of birth
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
    <ons-include page="templates/misc/dateSelector.html"></ons-include>
  </ons-page>