<ons-page ng-controller="ProfileEditController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left">
				</td>
				<td class="flique-navigation-bar__center" style="padding-top:10px;">
					Update Profile
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
	<ons-include page="templates/misc/profile.html"></ons-include>
</ons-page>

