  <ons-page ng-controller="ProfileStatusEditController">
	<div class="flique-navigation-bar">
		<table>
			<tr>
				<td class="flique-navigation-bar__left">
				</td>
				<td class="flique-navigation-bar__center" style="padding-top:10px;">
					Update Status
				</td>
				<td class="flique-navigation-bar__right"></td>
			</tr>
		</table>
	</div>
	<div class="flique-navigation-bar__spacer"></div>
	  <div class="login-form" style="margin-top:10px; width:96%;">
	  	<textarea class="textarea" rows="3" placeholder="Enter status here" maxlength="140" ng-model="statusEditStatusStr" ng-trim="false" style="width:100%;background: none;height: 200px;font-size:18px;"></textarea>
	  	<div style="
		  color: #ddd;
		  font-size: 13px;
		  float: right;
		  position: relative;
		  top: -20px;
		  right: 8px;">
		  Characters left : {{140 - statusEditStatusStr.length}}</div>
	    <br><br>
	      <ons-list modifier="inset" class="settings-list" ng-click="postFbToggle()">
	        <ons-list-item>
	          Share on Facebook
	          <ons-switch modifier="list-item" checked ng-show="postFb"></ons-switch>
	          <ons-switch modifier="list-item" ng-hide="postFb"></ons-switch>
	        </ons-list-item>
	      </ons-list>
	    <br><br>
	  </div>

	  <ons-list modifier="inset">
	    <ons-row>
	      <ons-col class="button-container-left">
	        <button modifier="large" class="button--cta button-left button-black" ng-click="Navigation.goBack()">Cancel</button>
	      </ons-col>
	      <ons-col class="button-container-right">
	        <button modifier="large" class="button--cta button-right button-red" ng-click="statusEditOkClicked()">Ok</button>
	      </ons-col>
	    </ons-row>
	    <br><br>
	  </ons-list>
  </ons-page>